<h1>Your cart</h1>
<% if @cart.empty? %>
  <p></p>
<% else %>
  <%= link_to "Empty cart", cart_clear_path, class: "btn btn-danger" %>
<% end %>

<% total = 0 %>
<% $count = 0 %>

<table class="table" border = "0">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Description</th>
    <th>Quantity</th>
    <th>Price</th>
  </tr>
<% if @cart.empty? %>
  <p></p>
<% else %>
  <% @cart.each do |id, qty| %>
    <tr>
      <% item = Item.find_by_id(id) %>
        <td><%= image_tag("#{item.img_url}", height: '50%')%></td>
        <td><%= link_to item.name, item %></td>
        <td><%= item.description %></td>
        <td><p><%= qty %></p></td>
        <td><%= number_to_currency(item.price, unit: '€') %></td>
        <% $count += qty %>
        <% total += qty*item.price %>
      <% end %>
<% end %>
<% $running = number_to_currency(total, unit: '€') %>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <th>Total:</th>
    <td><b></b><%= number_to_currency(total, unit: '€') %></b></td>
  </tr>
</table>

<%= link_to "Checkout", cart_thankyou_url, class: "btn btn-primary" %>