      <div class="container">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <%= image_tag("salonface.png")%>
        </div>
      </div>
      <div id="about">
        <h2 style="text-align: center;">About</h2>
        <p>The salon is situated at Obsessions at 87 Capel Street, Dublin 1. My aim is to offer the highest possible standard of treamtments including dermalogica and Juliette Armand skin care treatments, all designed to awarn your natural beautry and promote a sense of well-being. I hope to ensure that you the client is 100% happy with your tratment and I look forward to welcoming you soon</p>
        <p>Monica</p>
      </div>
      <div class="container">
        <div class="col-md-5"></div>
        <div class="col-md-2">
          </div>
        <div class="col-md-5"></div>
      </div>