 <head>
    <title>Contact - Monica's Beauty Room</title>
    <link rel="stylesheet" type="text/css" href="css/contactstyle.css">
    <meta charset="UTF-8">
  </head>
 
 <h2 id="contact">Contact</h2>
        <div class="flexbox">
            <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJX_WoBioMZ0gRCGKJyBwj15E&key=AIzaSyAnKx48ycbBCHmypGRJ7bRJSNlIsyZn3XE" allowfullscreen></iframe>
            <div id='contactinfo'>
              <h3>Location:</h3>
              <p>Obsession, 87 Capel Street, Dublin 1</p>
              <table>
                  <tr>
                    <th colspan="2">Opening Hours</th>
                  </tr>
                  <tr>
                    <td>Mon-Wed:</td>
                    <td>10am - 6pm</td>
                  </tr>
                  <tr>
                    <td>Thurs-Fri:</td>
                    <td>10am-7pm</td>
                  </tr>
                  <tr>
                    <tr>
                      <td>Saturday:</td>
                      <td>10am-4pm</td>
                    </tr>
                    <tr>
                  <tr>
                    <td>Sunday:</td>
                    <td>Closed</td>
                  </tr>
                </table>
                <tr>
                    <th colspan="2">0877055720</th>
                  </tr>
              
            </div>

    
      