<%= render 'layouts/itemheader' %>
  <div class="global_container_">
   <div class="l-constrained group">
    
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h1 style="text-align: center;">Treatments</h1>
    <%= image_tag("salonface.png")%>
    </div>
    <div class="col-md-4"></div>
    </div>
    
    <div class="face-face-mapping-skin-analysis-free-microzone-25-dermalogi">
<table style="width: 400px;">
<tbody>
<tr>
<td style="text-align: center;  font-size: 35px; line-height: 40px; font-weight: bold; padding-bottom: 10px;" colspan="2">Face</td>
</tr>
<tr>
<td style="text-align: left;">Face mapping Skin Analysis</td>
<td style="text-align: right;">free</td>
</tr>
<tr>
<td style="text-align: left;"> Microzone Skin Treatment</td>
<td style="text-align: right;">€ 25</td>
</tr>
<tr>
<td style="text-align: left;"> Dermalogica Skin Treatment</td>
<td style="text-align: right;">€ 60</td>
</tr>
<tr>
<td style="text-align: left;">Age smart Skin Treatment<br>
</td>
<td style="text-align: right;">€ 65</td>
</tr>
<tr>
<td style="text-align: left;">Ultracalming for Sensitive Skin</td>
<td style="text-align: right;">€ 65</td>
</tr>
<tr>
<td style="text-align: left;">Medi Bac Clearing Treatment</td>
<td style="text-align: right;">€ 65</td>
</tr>
<tr>
<td style="text-align: left;">Microdemabrasion Session</td>
<td style="text-align: right;">€ 90</td>
</tr>
<tr>
<td style="text-align: left;">Thavma Miracle Theraphy</td>
<td style="text-align: right;">€ 99</td>
</tr>
  </div>
</table>
<table style="width: 400px; margin-top: 15px;">
<tbody>
<tr>
<td style="text-align: center;  font-size: 35px; line-height: 40px; font-weight: bold; padding-bottom: 10px; padding-top: 20px;" colspan="3">Teeth Whitening</td>
</tr>

<tr>
<td style="text-align: left;">Mega white express teeth whitening</td>
<td style="text-align: right;">€ 89</td>
</tr>
</tbody>
</table>
<table style="width: 400px; margin-top: 15px;">
<tbody>
<tr>
<td style="text-align: center;  font-size: 35px; line-height: 40px; font-weight: bold; padding-bottom: 10px; padding-top: 20px;" colspan="3">Eyes</td>
</tr>
<tr>

<td style="text-align: left;">Novalash Eyelash Extension</td><td style="text-align: right;"></td>
<td style="text-align: right;"></td>
<td style="text-align: right;">€ 60</td>
</tr>
<tr>
<td style="text-align: left;">Novalash Eyelash Refils</td><td style="text-align: right;"></td>
<td style="text-align: right;"> € 20</td>
<td style="text-align: right;">-  € 40</td>
</tr>
<tr>
<td style="text-align: left;">HD Brow</td><td style="text-align: right;"></td>
<td style="text-align: right;"></td>
<td style="text-align: right;">€ 25</td>
</tr>
<tr>
<td style="text-align: left;">Eyebrow Threading/Waxing</td><td style="text-align: right;"></td>
<td style="text-align: right;"></td>
<td style="text-align: right;">€ 12</td>
</tr>
<tr>
<td style="text-align: left;">Eyebrow Tint</td><td style="text-align: right;"></td>
<td style="text-align: right;"></td>
<td style="text-align: right;">€ 12</td>
</tr>
<tr>
<td style="text-align: left;">Eyebrow Tint & Threading/Waxing</td><td style="text-align: right;"></td>
<td style="text-align: right;"></td>
<td style="text-align: right;">€ 20</td>
</tr>
<tr>
<td style="text-align: left;">Eyelash Tint</td><td style="text-align: right;"></td>
<td style="text-align: right;"></td>
<td style="text-align: right;">€ 10</td>
</tr>
</tbody>
</table>
<table style="width: 400px; margin-top: 15px;">
<tbody>
<tr>
<td style="text-align: center;  font-size: 35px; line-height: 40px; font-weight: bold; padding-bottom: 10px; padding-top: 20px;" colspan="3">Make Up</td>
</tr>
<tr>
<td style="text-align: left;" colspan="2">Make Up</td>
<td style="text-align: right;">€ 20</td>
</tr>
<tr>
<td style="text-align: left;" colspan="2">Make Up &amp; Lashes</td>
<td style="text-align: right;">€ 25</td>
</tr>

</tbody>
</table>
</div>
<div>
<table style="width: 400px;">
<tbody>
<table style="width: 400px; margin-top: 15px;">
<tbody>
<tr>
<td style="text-align: center;  font-size: 35px; line-height: 40px; font-weight: bold; padding-bottom: 10px; padding-top: 20px;" colspan="3">Manicures</td>
</tr>

<tr>
<td style="text-align: left;">File &amp; Polish</td>
<td style="text-align: right;">€ 15</td>
</tr>
<tr>
<td style="text-align: left;">Manicure</td>
<td style="text-align: right;">€ 25</td>
</tr>
<tr>
<td style="text-align: left;">Recure Manicure</td>
<td style="text-align: right;">€ 35</td>
</tr>
<tr>
<td style="text-align: left;">Paraffin Wax Mani</td>
<td style="text-align: right;">€ 35</td>
</tr>
<tr>
<td style="text-align: left;">Shellac Nails</td>
<td style="text-align: right;">€ 25</td>
</tr>
<tr>
<td style="text-align: left;">French Shellac Nails</td>
<td style="text-align: right;">€ 30</td>
</tr>
<tr>
<td style="text-align: left;">Shellac Removal</td>
<td style="text-align: right;">€ 10</td>
</tr>
</tbody>
</table>
<table style="width: 400px;">
<tbody>
<tr>
<td style="text-align: center;  font-size: 35px; line-height: 40px; font-weight: bold; padding-bottom: 10px; padding-top: 20px;" colspan="2">Pedicures</td>
</tr>
<tr>
<td style="text-align: left;">File &amp; Polish</td>
<td style="text-align: right;">€ 20</td>
</tr>
<tr>
<td style="text-align: left;">Pedicure</td>
<td style="text-align: right;">€ 40</td>
</tr>
<tr>
<td style="text-align: left;">Shellac Toes</td>
<td style="text-align: right;">€ 25</td>
</tr>
<tr>
<td style="text-align: left;">French Shellac Toes</td>
<td style="text-align: right;">€ 30</td>
</tr>
<tr>
<td style="text-align: left;">Gel Toes</td>
<td style="text-align: right;">€ 35</td>
</tr>
</tbody>
</table>
<table style="width: 400px;">
<tbody>
<tr>
<td style="text-align: center; font-size: 35px; line-height: 40px; font-weight: bold; padding-bottom: 10px; padding-top: 20px;" colspan="2">Nail Extensions</td>
</tr>
<tr>
<td style="text-align: left;">Full Set Gel</td>
<td style="text-align: right;">€ 50</td>
</tr>
<tr>
<td style="text-align: left;">Reffils Or Overlays</td>
<td style="text-align: right;">€ 40</td>
</tr>
<tr>
<td style="text-align: left;">Removal &amp; Mani</td>
<td style="text-align: right;">€ 25</td>
</tr>
<tr>
<td style="text-align: left;">Nail Reper</td>
<td style="text-align: right;">€ 5</td>
</tr>
<tr>
<td style="text-align: left;">Nail Art</td>
<td style="text-align: right;">from € 5</td>
</tr>
</tbody>
</table>
<table style="width: 400px;">
<tbody>
<tr>
<td style="text-align: center;  font-size: 35px; line-height: 40px; font-weight: bold; padding-bottom: 10px; padding-top: 20px;" colspan="2">Waxing</td>
</tr>
<tr>
<td style="text-align: left;">Lip</td>
<td style="text-align: right;">€ 9</td>
</tr>
<tr>
<td style="text-align: left;">Chin</td>
<td style="text-align: right;">€ 9</td>
</tr>
<tr>
<td style="text-align: left;">Lip and Chin </td>
<td style="text-align: right;">€ 15</td>
</tr>
<tr>
<td style="text-align: left;">Face Sides</td>
<td style="text-align: right;">€ 12</td>
</tr>
<tr>
<td style="text-align: left;">Under Arm</td>
<td style="text-align: right;">€ 10</td>
</tr>
<tr>
<td style="text-align: left;">Full Leg</td>
<td style="text-align: right;">€ 30</td>
</tr>

<tr>
<td style="text-align: left;">Full leg & bikini line  </td>
<td style="text-align: right;">€ 35</td>
</tr>
<tr>
<td style="text-align: left;">Bikini Line </td>
<td style="text-align: right;">€ 15</td>
</tr>
<tr>
<td style="text-align: left;">Brazilian </td>
<td style="text-align: right;">€ 30</td>
</tr>
<tr>
<td style="text-align: left;">Hollywood </td>
<td style="text-align: right;">€ 40</td>
</tr>

</tr></tbody>
</table>
</div>
  </div>
                                    <div class="clr"></div>
                                </div>
                    </div>

    <div class="clr"></div>
        </div>

        </div>
  </div>
</div>




<div id="bottom-i">
<div class="copy">
</div>
</div>
</body>
</html>
 </body>
</html>