      <div class="container">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <%= image_tag("salonface.png")%>
        </div>
      </div>
      <br>
      <h1 style="text-align: center">Welcome to Monica's Beauty Room</h1>
      <br>
      <div class="container">
        <div class="col-md-5"></div>
        <div class="col-md-2">
          <%= link_to "Enter Shop", items_path, class:"btn btn-primary" %>
          </div>
        <div class="col-md-5"></div>
      </div>