<%= render 'layouts/itemheader' %>
<div class="row">
  <% @items.each do |item| %>
    <% if item.category == 'face'%>
    <div class="col-md-3 center">
        <%= image_tag item.img_url %>
        <div class="caption">
          <h3><%= item.name %></h3>
          <p><%= item.description %></p>
          <p><%= number_to_currency(item.price, unit: '€') %></p>
          <a href="/cart/<%= item.id %>" class="btn btn-danger">Add To Cart</a>
          
          <% if current_user.try(:admin?) %>
            <%= link_to 'Show', item, class:"btn btn-link" %>  
            <%= link_to 'Edit', edit_item_path(item), class:"btn btn-link" %>
            <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-link" %>
          <% end %>
        </div>
    </div>
    <% end %>
  <% end %>
</div>

<br>
<% if current_user.try(:admin?) %>
  <%= link_to 'New Item', new_item_path %>
<% end %>