<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-6">
        <%= image_tag @item.img_url %>
    </div>
  <div class="col-md-6">
    <h3><%= @item.name %></h3>
    <p><%= @item.description %></p>
    <p><%= number_to_currency(@item.price) %></p>
  </div>
</div>
<%= link_to 'Back', items_path, class:"btn btn-link" %>
