


#contact {
  font-family: "Raleway";
  text-align: center;
  font-size: 4em;
  margin: 0 0 10px 0;
}
.flexbox {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: flex-start;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

#contactinfo {
  padding: 10px;
  font-size: 1.5em;
  text-align: center;
}
