@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #ACE4E5;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}

.col-md-3:nth-child(4n+1) {
  clear:left;
}

.navbarbottom {
  margin-bottom:0;
}