<div class="container">
  <nav class="navbarbottom navbar navbar-default" role="navigation">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/items"><%= image_tag("logo.png", height: '50')%></a>
      </div>  
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "About", pages_about_path %> </li>
          <li><%= link_to "Contact", pages_contact_path %></l>
          <% if user_signed_in? %>
            <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "Sign In", new_user_session_path %></li>
          <% end %>
          <% if $count == 0 %>
            <li><%= link_to "Cart", cart_path %></li>
          <% else %>
          <li><%= link_to "Cart (#{$running})", cart_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
</div>  