<nav class="navbar navbar-default" role="navigation">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/items">All Products</a></li>
        <li><a href="/items/face">Face</a></l>
        <li><a href="/items/body">Body</a></l>
        <li><a href="/items/vouchers">Vouchers</a></l>
        <li><a href="/pages/treatments">Treatments</a></l>
      </ul>
              <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <%= form_tag(items_path, :method => "get", id: "search-form") do %>
              <%= text_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>
                <%= submit_tag "GO", class: 'btn btn-default' %>
            <% end %>
          </div>
        </form>
    </div><!-- /.navbar-collapse -->
</nav>